<h1 class="entete">Contact</h1>
<br/>
<p class="center">
<a href="mailto:mickael.fardilha@gmail.com">mickael.fardilha@gmail.com</a>
</p>
<p class="center">-</p>
<p class="center">
  Contact du Tutoriel Ruby on Rails à propos de l Application Exemple à la
  <a href="http://railstutorial.org/feedback">page de feedback</a>.
</p>