<h1>Mickaël FARDILHA</h1>
<p>
  Projet rails - contrôle continu 2013/2014 - 
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
</p>

<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>