<h1 class="entete">Mickaël FARDILHA</h1>
<p class="center">
  Projet rails - contrôle continu 2013/2014 - 
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
</p>
<br/><br/>
<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>
<br/><br/>